<%= render "navbar" %>

<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered mb-6">
      <div class="column is-4">
      	<strong>value</strong>
        <br>
        <small>
          every company that is built from our <i>factory of production</i> comes grade a certified to fill a crucial need in an industry and solve a pressing problem to immensely improve the quality of life of the intended users
        </small>
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <%= image_tag "value.png", :style => "height:180px; width:130px;" %>
      </div>
    </div>

    <div class="columns is-vcentered reverse-columns mb-6 mt-6">
      <div class="column is-8">
        <%= image_tag "product.png", :style => "height:170px; width:180px;" %>
      </div>
      <div class="column">
      	<strong>product</strong> 
        <br> 
        <small>
          we intentiionally engineer and model our products with simple, minimalistic and clean design for fast, efficient and impactful usage for end users
        </small>
      </div>
    </div>

    <div class="columns is-vcentered mt-6">
      <div class="column is-4">
        <strong>innovation</strong>
        <br>
        <small>
          intentionally, we work to create platforms in a unique way based upon research, intelligence and first-hand experience for targeted and empowering user-driven outcomes
        </small> 
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <%= image_tag "innovation.png", :style => "height:130px; width:200px;" %>
      </div>
    </div>
  </div>
</div>

<%= render "footer" %>